.editor-container {
    max-width: 980px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.editor-container.hidden~.focus-line {
    display: none;
}

.tools-container {
    background-color: #383b42;
    text-align: center;
}

.tools-container>* {
    margin-block-end: 30px;
}

.text-input {
    background-color: #f0f0f0;
    height: 100%;
    width: 100%;
    box-shadow: 1px 5px 0 #bbc4d1, inset 0 5px 0 #ffffff;
    border-radius: 30px;
    text-align: center;
    font-size: 2rem;
}

.input-container {
    padding: 20px 40px 0;
    height: 100px;
    width: 100%;
}

.icon {
    width: 50px;
    height: 50px;
    background-color: rgb(192, 190, 190);
    padding: 0.5rem 0.5rem;
    cursor: pointer;
    border: 1px groove darkgray;
    box-shadow: 1px 3px 0 #04929cd8, inset 0 5px 0 rgba(255, 255, 255, 0.58);
}

.icon:hover {
    background-color: rgb(160, 158, 158);
}

.edit-container>* {
    margin-inline-start: 20px;
}

.tool-bar {
    width: 100%;
}

.focus-line {
    position: absolute;
    background-color: rgba(36, 35, 35, 0.34);
    pointer-events: none;
}

.output>*:not(:first-child) {
    margin-inline-start: 15px;
}

.btn {
    box-shadow: 1px 6px 0 #632687, inset 0 2px 0 #ffffff;
    border-radius: 15px;
    background-color: #8f44bb;
    color: white;
    font-weight: 500;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.btn.blue {
    background-color: #1e7cd3;
    box-shadow: 1px 6px 0 #165c9c, inset 0 2px 0 #ffffff;
}

.btn:active {
    box-shadow: 1px 3px 0 #04929cd8, inset 0 5px 0 rgba(255, 255, 255, 0.58);
    transform: translateY(2px);
}

.share-container {
    margin-inline-start: 20px;
    display: inline-block;
}

.tools-container form {
    margin-block-start: 30px;
}

#palette {
    display: none;
}

@media (max-width: 980px) {
    .editor-container {
        flex-direction: column;
    }
    .editor-container>* {
        width: 100%;
    }
    footer {
        display: none;
    }
}